body {
  margin: 0;
  overflow-x: hidden;
  color: #000000;
  color: #54575A;
  background: linear-gradient(176.79deg, rgba(238, 191, 250, 0.01) 2.65%, rgba(255, 255, 255, 0) 25.96%, #F3F8F7 55.03%, #F3F8F7 80.18%, rgba(224, 211, 227, 0) 90.3%);
}
