footer {
    position: relative;
    width: auto;
    height: 250px;
    background: #070D3DB2;
    margin-top: 190px;
    padding-left: 9%;
    padding-right: 5%;
    padding-top: 5%;
    margin-bottom: 0px;

    /* background-color: #000022; */
    /* bottom: 0px; */
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.footer_column {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
    height: 50%;
    /* flex-direction: row; */

    /* margin-left: 90px; */
    /* width: 100%; */
}

.footer_column > div {
    align-items: center;
    text-align: center;
    padding: 20px;
    /*border: 1px solid #FFFFFF;*/
    /* height: 120px; */

}

div.socials{
    display: flex;
    color: #FFFFFF;
    /* position: relative; */
    /* justify-content: flex-end; */
    /* align-content: flex-end; */
    height: auto;
    width: 95%;
    gap: 20px;
    /* left: 100px; */
    /* top: 195px; */
    padding: 0px 10px;
    flex-direction: row;
}

.copy {
    width: 230px;
}

.paragraph {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: 50%;
    justify-content: space-between;
    /* align-content: center; */
}


.socials .links {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
}

.logo {
    /* position: absolute; */
    background-image: url(../images/logo_tri.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    background-size: 55px 57.2px;
    /* left: 84px; */
}

p#normal {
    position: relative;
    width: 43px;
    height: 14px;
    left: 55px;
    top: 18px;

    font-family: 'Noto Serif Khojki', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 14px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

p#styled{
    position: relative;
    width: 38px;
    height: 16px;
    left: 87px;
    top: 19px;

    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
p.tagline {
    position: relative;
    width: 185px;
    height: 50px;
    left: 0px;
    top: 32px;

    font-family: 'Noto Serif Khojki', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    /* align-items: center; */

    color: #FFFFFF;
}

.footer_header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: auto;
    /* position: absolute; */
    /* right: 320px; */
}
.footer_features {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: auto;
    /* position: absolute; */
    /* top: 65px; */
    /* left: 450px; */
    /* justify-content: space-between; */
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

}


footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0px;
    width: auto;
    height:auto;
}
footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer_features a{
    font-size: 12px;
}

@media screen and (max-width: 576px) {
    footer {
        height: 450px;
    }
    p.tagline {
        font-size: 12px;
        width: 100%;
    }
    div.socials {
        flex-direction: column;
        align-items: center;
    }
    .paragraph {
        width: auto;
    }
    .socials .links {
        width: 90%;
    }
}
